@font-face {
  font-family: "Fredoka One";
  src: local("FredokaOne"),
    url("./fonts/FredokaOne-Regular.woff2") format("woff2"),
    url("./fonts/FredokaOne-Regular.woff") format("woff");
}

:root {
  --bg-color: rgb(247, 140, 70);
  --accent-color: #bd1585;
  --font-color: #ffffff;
  --font-family: "Fredoka One";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
}

main {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 2px;
}

.content {
  padding: 50px;
}

h1,
h2 {
  text-align: center;
  color: var(--font-color);
  font-size: 3em;
  padding: 15px;
}

button {
  padding: 15px;
  background-color: var(--accent-color);
  font-size: 2em;
  color: var(--font-color);
  border: 2px dotted white;
}

button:active {
  color: var(--accent-color);
  background-color: var(--bg-color);
  border: 2px dotted white;
}

.picture {
  display: flex;
  justify-content: center;
}

.highFive {
  width: 80%;
  padding: 10px;
}
