@font-face {
  font-family: "Fredoka One";
  src: local("FredokaOne"),
    url("./fonts/FredokaOne-Regular.woff2") format("woff2"),
    url("./fonts/FredokaOne-Regular.woff") format("woff");
}

:root {
  --bg-color: rgb(247, 140, 70);
  --accent-color: #bd1585;
  --font-color: #ffffff;
  --font-family: "Fredoka One";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--font-family);
}
