@font-face {
  font-family: "Fredoka One";
  src: local("FredokaOne"),
    url("./fonts/FredokaOne-Regular.woff2") format("woff2"),
    url("./fonts/FredokaOne-Regular.woff") format("woff");
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --bg-color: rgb(247, 140, 70);
  --accent-color: #bd1585;
  --font-color: #ffffff;
  --font-family: "Fredoka One";
}

/*GENERAL*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
  height: 2000px;
  display: flex;
  flex-direction: column;
}

/*MAIN*/

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
  letter-spacing: 1px;
}

h1,
h2 {
  text-align: center;
  color: var(--font-color);
  font-size: 2em;
  padding: 35px 0 35px 0;
}

.content {
  padding: 35px;
}

/*BUTTONS*/

button {
  padding: 15px;
  background-color: var(--accent-color);
  font-size: 2em;
  color: var(--font-color);
  border: 2px dotted var(--font-color);
}

button:active,
button:focus {
  color: var(--accent-color);
  background-color: var(--bg-color);
  border: 2px dotted var(--font-color);
}

/*PICTURE*/

.picture {
  display: flex;
  justify-content: center;
}

.highFive {
  width: 80%;
  padding: 15px;
}

/*FOOTER*/
.footer {
  flex-shrink: 0;
  text-align: center;
  color: var(--font-color);
  padding: 15px;
}

.footer span {
  font-size: 1.5em;
}

.spin {
  animation: spin 0.8s linear;
}

/*media queries*/
@media only screen and (min-width: 768px) {
  .highFive {
    width: 60%;
  }
  h1,
  h2 {
    font-size: 3em;
    letter-spacing: 2px;
  }
}
